.Formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.Formulario form{
    width: 30%;
    border-radius: 10px;
    border: solid 0.05em;
    border-color: #C1B6B6;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}